# The following aliases are provided for project level convenience.
# To load these aliases, run or add to your .bashrc:
# source .aliases

alias build='docker compose up --build'
alias down='docker compose down'
alias up='docker compose up'
alias app-bash='docker compose exec app bash'