# Dockerfile args
UID=1000
GID=1000

# Sample environment variable
SAMPLE_ENV_VAR="sample environment variable"

# Jupyter Notebook settings
JUPYTER_ENABLE_LAB=yes
JUPYTER_USERNAME=jovyan
JUPYTER_TOKEN="secret"
JUPYTER_PORT=8888
