# Dockerfile args
UID=1000
GID=1000

# Application port
APP_PORT=8000

# Log level (TRACE, DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

# Application environment:development (default), testing (skip slow startup tasks like DB migrations in CI/pytest), or production.
# In production, Swagger UI is disabled and debug log levels are forbidden.
ENVIRONMENT=development